header, footer {
	display: block;
}
nav {
	clear: both;
	height: 10px;
}
footer {
	clear: both;
	height: 0px;
	padding-bottom: 5px;
}
.wrapper {
	width: 940px;
	height: 600px;
	margin: 0px auto 20px auto;
	border: 2px solid whitesmoke;
	padding: 10px;
	background-color: whitesmoke;
}

.column {
	float: left;
	width: 400px;  /* this is the width of the column inside column */
	margin: 10px;
}

.column2 {
	padding-top: 0px;
	float: left;
	width: 400px;  /* this is the width of the column in column */
	margin: 10px;
	margin-left: 80px; /* this is the distance in between the columns */
	padding: 5px;
    bottom: 0;
}

header {
	height: 60px;
}

h1 {
	color: #565656;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 10px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav li a {
	color: #565656;

}

nav li a:hover, nav li a.home {
	color: DodgerBlue;
}

footer {
	margin-top: 10px;
	padding-top: 5px;
}

body {
	background-color: whitesmoke;
}

#add  {
	border-radius: 5px;
	margin-top: 10px;
	background-color: dodgerblue; /* Blue background */
    border: 2px solid dodgerblue;
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
}

#clear {
	
	border-radius: 5px;
	margin-top: 10px;
	background-color:white; /* Blue background */
	border: 2px solid;
	border-color: dodgerblue;
    color: dodgerblue; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
}

/* Darker background on mouse-over */
#add:hover {
	background-color: white;
	color: dodgerblue;
}

#clear:hover {
	background-color: dodgerblue;
	color: white;
}

#add {
	margin-right: 10px;
}

a {
	text-decoration: none;
}

#journal-btn {
	border-bottom: 4px solid dodgerblue;
	text-decoration: underline;
	padding-bottom: 5px;
	color: #565656;
}

#journal-btn:hover, #thought:active {
	border-bottom: 4px solid dodgerblue;
	/* text-decoration: underline; */
	color: dodgerblue;
}
#journal-btn:link {
	text-decoration: dodgerblue;
}

#thought-input {
	margin-top: 10px;
	background-color:#E8E8E8;
	border-radius: 5px;
	border: none;
}
/* ================== above added 07-15-2018 */
#mood-display {
	margin-left: 5px;
}

#thought-display {
	height: 490px;
	overflow: auto;
}

#length {
	margin-top: 40px;
}
.wrap {
	border-bottom: 1px solid #a8a8a8;
	border-bottom-width: 1pt;
	margin: 5px 0 5px 0;
	border-radius: 0px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-right: 5px;
    margin: 5px 0px 5px 0px;
}

.my-date {
	font-size: 14px;
	color: #565656;
	
}
.my-thought {
	font-size: 20px;
	
}

.calendar{
	width:450px;
	height:320px;
	background:#fff;
    border: 1px solid #2b816f;
}
#small-title {
    font-size: 30px;
}
.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
    font-size:14px;
    padding: 0;
}
.body-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
    text-align:center;
}
/* take out code below? */
.lightgrey{
	color:#a8a8a8; 
}
.darkgrey{
	color:#565656; 
}
.green{
	color:#2b816f; 
}
.greenbox{
    border:1px solid #2b816f;
    background:#e9f8df; 
    border-radius: 8px;
}
/* take out code above? */
i {
	font-size: 25px;
 }
 .card-img-top {
	 width: 100px;
	 height: 100px;
 }
 .card-deck {
    width: 800px;
    height: auto;
    float: left;
    margin-left: 20px;
}
.card-deck .card {
    flex-grow: 0;
    flex-basis: 120px;
}

h5 {
    font-size: 16px;
} 
#food-display, #mood-display{
    width: 600px;
    height: 400px;
    border: 1px solid grey;
    float: right;
    margin-right:20px;
    overflow: auto;
}
#my-mood {
    float: left;
    margin-top: 60px;
}
#full-display {
    height: 460px;
    overflow: auto;
}